pkgbase = 86box-roms-git
	pkgdesc = ROMs for the 86Box emulator
	pkgver = 4d6b53735df8cdfd0c9c0f8140404fc1c0274839
	pkgrel = 1
	url = https://github.com/86Box/roms
	arch = any
	license = custom
	makedepends = git
	provides = 86box-roms
	conflicts = 86box-roms
	options = !strip
	source = 86box-roms-git::git+https://github.com/86Box/roms.git
	sha512sums = SKIP

pkgname = 86box-roms-git
